body {
  margin: 0px;
  background: linear-gradient(to top right, #facfd0, #c4f1f8, #f2d1a8, #eaffde, #9198e5);
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-family: fantasy;
    margin-top: 3rem;
    color: rgb(85, 137, 85);
}

.form-nav {
  width: 60%;
  max-width: 900px;
}

button {
  font-family: 'Lato', sans-serif;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.z-1 {
  z-index: -1;
}

.add-icon {
  font-size: 30px;
}

.icon {
  font-size: 24px;
}

.display-block {
  display: block;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.add-btn {
  /* margin-left: auto; */
}

.logo {
  width: 100px;
}

.bg-blue {
  background-color: rgb(119, 203, 245);
}

.bg-red {
  background-color: rgb(201, 58, 58);
}

.bg-orange {
  background-color: rgb(252, 189, 74);
}

.px-16 {
  font-size: 16px;
}

.px-18 {
  font-size: 18px;
}

.px-24 {
  font-size: 24px;
}

.px-24-bold {
  font-size: 24px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.border-none {
  border: none;
}

.border-red {
  border: 1px solid red;
}

.border-rds-5 {
  border-radius: 5px;
}

.btn-pointer {
  cursor: pointer;
}

.text-color {
  color: white;
}

.display-hidden {
  display: none;
}

label {
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
}

input:first-of-type {
  outline: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  max-width: 1200px;
  margin: 100px auto auto auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  text-align: center;
}

th {
  background-color: rgb(255, 243, 243);
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.my-form {
  background-color: rgb(236 217 217);
  width: 60%;
  max-width: 900px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
  padding: 40px 40px 20px 40px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
  padding: auto 5px;
}

.form-group p {
  display: grid;
  grid-column: 2 / span 3;
  margin: auto 0px;
  font-size: 16px;
  color: red;
}

input,
textarea,
.react-datepicker-wrapper {
  display: grid;
  grid-column: span 2;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
  grid-column: 2 / span 3;
}

input:focus {
  outline: none;
}

.button {
  display: grid;
  grid-column: span 3;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  border: none;
}

@media(max-width: 800px) {
  label {
    font-size: 18px;
    padding-bottom: 4px;
  }

  input,
  textarea,
  DatePicker {
    width: 90%;
    padding-bottom: 4px;
  }

  .my-form {
    width: 60%;
    margin: auto;
  }

  .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .submit-btn {
    margin-left: auto;
    margin-right: auto;
  }

}