body {
  margin: 0px;
  background-color: gray;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
}

.px-18 {
  font-size: 18px;
}

button {
  font-family: 'Lato', sans-serif;
  border: 0px;
  padding: 10px 20px;
  font-weight: bold;
}

.add-btn {
  margin-left: auto;
}

.logo {
  width: 100px;
}